<div class="row">
  <div class="col-sm-5 card shadow">
    <b>ALUMNOS DAM</b>
    <app-tabla [cabeceras]="cabeceras" [datos]="datosDAM"></app-tabla>
  </div>
  <div class="col-sm-5 card shadow">
    <b>ALUMNOS DAW</b>
    <app-tabla [cabeceras]="cabeceras" [datos]="datosDAM"></app-tabla>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 card shadow">
    <b>ALUMNOS ASIR</b>
    <app-tabla [cabeceras]="cabeceras" [datos]="datosDAM"></app-tabla>
  </div>
  <div class="col-sm-5 card shadow">
    <b>ALUMNOS...</b>
    <app-tabla [cabeceras]="cabeceras" [datos]="datosDAM"></app-tabla>
  </div>
</div>
