<div class="row">
  <div class="col-sm-6">
    <b>LIBROS</b>
    <app-tabla [cabeceras]="cabecera" [datos]="datosLibros"></app-tabla>
  </div>
  <div class="col-sm-6">
    <b>REVISTAS</b>
    <app-tabla [cabeceras]="cabecera" [datos]="datosRevistas"></app-tabla>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <b>MUSICA</b>
    <app-tabla [cabeceras]="cabecera" [datos]="datosMusica"></app-tabla>
  </div>
  <div class="col-sm-6">
    <b>CINE</b>
    <app-tabla [cabeceras]="cabecera" [datos]="datosCine"></app-tabla>
  </div>
</div>
